name: Deploy development

on:
  push:
    branches:
      - development

jobs:
  testing:
    name: Trigger deploy to Vercel
    # To by pass Vercel pricing plan limtation
    runs-on: ubuntu-latest
    env:
      DEPLOYMENT_HOOK: ${{ secrets.DEPLOYMENT_HOOK }}
    steps:
      - run: curl "$DEPLOYMENT_HOOK"
